html{
  box-sizing: border-box;
  font-size: 62.5%;
}
*,
*::before,
*::after{
  box-sizing: inherit;
}
html,
body {
  height: 100%;
  
}
body{
  overflow-x: hidden;
  position: relative;
  min-width: 32rem;
  font-size: 1.8rem;
  line-height: 2.4rem;
  letter-spacing: 0.09rem;
  @include gl;
  color: $text;
}
a{
  display: inline-block;
  text-decoration: none;
}
ul,
li,
p{
  margin: 0;
  padding: 0;
  list-style: none;
}
h1, h2, h3, h4, h5, h6{
  padding: 0;
  margin: 0;
  font-size: inherit;
  font-weight: inherit;
}
.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}
.content {
	flex: 1 0 auto;
}
.footer {
	flex: 0 0 auto;
}
.container{
  max-width: 116rem;
  margin: 0 auto;
  padding: 0 1rem;
}
.ibg{
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.wave::before{
  content: '';
  position: absolute;
  background-image: url(../images/icon/wave.png);
  width: 14.5rem;
  height: 1.9rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.circle::before{
  content: '';
  position: absolute;
  width: 8.5rem;
  height: 8.5rem;
  border-radius: 50%;
  border: 15px solid #2429ff;
}
.point::before{
  content: '';
  position: absolute;
  width: 2.3rem;
  height: 2.3rem;
  border-radius: 50%;
  background-color: #2429ff;
}
.title{
  color: #000;
  @include ge;
  font-size: 4.5rem;
  line-height: 4.5rem;
  text-transform: uppercase;
  letter-spacing: 0.225rem;
  &::after{
    content: '';
    position: absolute;
    width: 6.4rem;
    height: 0.7rem;
    background-color: $red;
    left: 0;
    bottom: 0;
    border-radius: 0;
  }
}

.container-fluid{
  max-width: 195rem;
  margin: 0 auto;
  padding: 0 1.5rem;
}

// .menu__btn{
//   display: none;
//   position: absolute;
//   top: 3px;
//   right: 30px;
//   width:30px;
//   height: 18px;
//   cursor: pointer;
//   z-index: 5;
//   div{
//     transition: all 0.5s;
//     top: 8px;
//     left: 0px;
//     position: absolute;
//     width: 100%;
//     height: 3px;
//     background-color: $text;
//     &:first-child{top: 0px;}
//     &:last-child{top: auto;bottom: 0px;}
//   }
//   &.active{
//     div{transform: scale(0);
//       &:first-child{
//         transform: rotate(-45deg);
//         top: 8px;}
//       &:last-child{
//         transform: rotate(45deg);
//         bottom: 8px;}
//     }
//   }
// }
