$text: #141414;
$red: #f5112c;


@mixin ge {
  font-family: "Gilroy-ExtraBold";
  font-weight: 800;
}
@mixin gl {
  font-family: "Gilroy-Light";
  font-weight: 300;
}
@mixin msc {
  font-family: "MuseoSansCyrl-900";
  font-weight: 400;
}
