@import 'vars';
@import 'global';
@import 'fonts';



//=====================header start
.header{
  margin-bottom: 4rem;
}
.header-top__inner{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10rem;
}
.header__logo{
  width: 9.9rem;
  height: 3.6rem;
}
.contact li{
  display: inline-block;
}
.contact li + li{
  margin-left: 3.5rem;
}

.phone a{
  color: $text;
}
.link{
  color: $red;
  border-bottom: 2px solid;
  display: inline-block;
  cursor:pointer;
  transition: ease-out 0.5s;
}

.header-bottom__inner{
  display: flex;
}
.header-bottom{
  position: relative;
}
.header__bg{
  position: absolute;
  font-size: 37.2rem;
  line-height: 37.2rem;
  @include ge;
  color: rgba(0, 0, 0, 0.059);
  margin: -4rem 0 0 0;
  width: 100%;
  min-width: 190.3rem;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  span{
    font-size: 34rem;
    right: 0;
  }
  p{
    text-align: center;
  }
}
.header__img{
  max-width: 60.8rem;
  width: 100%;
  margin-top: -12rem;
  position: relative;
  min-height: 79.4rem;
  z-index: -1;
  &::before{
    top: 45%;
    left: -9.1rem;
  }
}
.header__wrapper{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.header__title{
  position: relative;
  padding-bottom: 3.2rem;
  margin-bottom: 2.5rem;
  line-height: 5.3rem;
  span{
    font-size: 3.4rem;
    line-height: 3.4rem;
    letter-spacing: 0.17rem;
    margin-bottom: 1.2rem;
    display: block;
  }

}
.header__title.point::before{
  top: -11rem;
  right: 8rem;
}
.header__text{
  padding-bottom: 6.4rem;
  position: relative;
  margin-bottom: 3.5rem;
  &::before{
    right: 0;
    bottom: 0;
  }
}

.header__button,
.lesson__button,
.form__button{
  @include ge;
  box-shadow: 0 10px 18px rgba(246, 27, 60, 0.55);
  padding: 2.3rem 0;
  background-color: $red;
  color: #fff;
  border-radius: 3.5rem;
  margin-bottom: 8rem;
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 38rem;
  transition: ease-out 0.5s;
  cursor: pointer;
  &:hover{
    box-shadow: 0 10px 18px rgba(246, 27, 60, 0.55);
    background-color: #ff4f63;
  }
}
//=====================header end
//=====================questions start
.questions{
  padding: 15rem 0 22.9rem 0;
  position: relative;
  overflow: hidden;
}
.questions__inner{
  position: relative;
    &::before{
    content:'';
    position: absolute;
    width: 2.3rem;
    height: 113.3rem;
    top: 29rem;
    left: 26.5rem;
    background-image: url(../images/questions/layer.png);
  }
}
.bg-color{
  position: absolute;
  background-color: #f8f8f8;
  border-radius: 95% 50%;
  width: 360rem;
  height: 202rem;
  left: 50%;
  top: 50%;
  transform: translate(-55%, -50%);
  z-index: -1;
}
.questions__title{
  max-width: 42rem;
  position: relative;
  padding: 5rem 6.2rem 0 0;
  &::before{
    content: '?';
    @include ge;
    font-size: 30rem;
    line-height: 24rem;
    text-transform: uppercase;
    opacity: 0.09;
    position: absolute;
    right: -1.3rem;
    top: 0;
  }
  &::after{
    content: none;
  }
}
.questions__item{
  display: flex;
  justify-content: flex-end;
}

.questions__item-text p{
  order: 1;
}
.item-1{
  margin-bottom: 8.5rem;
}
.questions__item-img{
  max-width: 45.7rem;
  width: 100%;  
  min-height: 36.4rem;
  position: relative;
  order: 2;
  margin: 0 0 0 3rem;
  div{
  font-size: 4.8rem;
  letter-spacing: 0.24rem;
  position: absolute;
  left: -3rem;
  top: 5.5rem;
  @include ge;
    span{
      color: $red;
    }
  }
  &::before{
    left: -12.1rem;
    bottom: 7.1rem;
  }
}
.questions__item-text p{
  max-width: 26rem;
  margin-top: 11.1rem;
}
.item-2{
  flex-direction: row-reverse;
  .questions__item-img{
    margin: 0 3rem 0 0 ;
    max-width: 43.2rem;
    width: 100%;  
    min-height: 34.5rem;
    div{
      left: auto;
      right: -4.5rem;
      top: 3rem;
    }
  }
  .questions__item-text p{
    max-width: 35.2rem;
  }
}
.item-3{
  margin-top: -6rem;
  .questions__item-img{
    max-width: 34.3rem;
    width: 100%;  
    min-height: 50.8rem;
    div{
      top: 14rem;
    }
  }
  .questions__item-text p{
    margin-top: 19.5rem;
    max-width: 36.4rem;
  }
}
.item-4{
  flex-direction: row-reverse;
  .questions__item-img{
    max-width: 55.7rem;
    width: 100%;  
    min-height: 29.4rem;
    margin: 0 3rem 0 0 ;
    div{
      left: auto;
      right: -19rem;
      top: 7.3rem;
    }
  }
  .questions__item-text p{
    margin-top: 13.8rem;
    max-width: 28.6rem;
  }
}
//=====================questions end
//=====================situations start
.situations{
  position: relative;
  padding-bottom: 15.5rem;
  margin-bottom: 10rem;
  &::before{
    bottom: 0;
    right: 32%;
  }
}
.situations__inner{
  position: relative;
  &::after{
  content:'';
  position: absolute;
  background-image: url(../images/situations/01.png);
  left: 57%;
  bottom: -2rem;
  width: 101.8rem;
  height: 60.8rem;
  }
}
.situations__title{
  max-width: 50rem;
  position: relative;
  padding-bottom: 3.5rem;
  margin-bottom: 7rem;
}
.situations__items{
  display: flex;
  justify-content: space-between;
  max-width: 84rem;
  width: 100%;
}
.situations__item{
  padding: 2.9rem 0 0 2.3rem;
  position: relative;
  &::before{
    content:'';
    position: absolute;
    width: 5rem;
    height: 5rem;
    background-color: #f5f5f5;
    border-radius: 50%;
    left: 0;
    top: 0;
    z-index: -1;
  }
}
.situations__item-title{
  @include ge;
  margin-bottom: 1.5rem;
}
.situations__item-text{
  line-height: 2.8rem;
  width: 23.8rem;
}
//=====================situations end
//=====================leading start
.leading {
  margin-bottom: 13rem;
  &__title {
    font-size: 4.5rem;
    margin-bottom: 5rem;
    position: relative;
    &::before {
      content:'';
      position: absolute;
      width: 43.5rem;
      height: 43.3rem;
      top: -4.5rem;
    right: -20.8rem;
      background-image: url(../images/leading/layer-1.png);
      z-index: -1;
    }
    &::after{
      content: none;
    }
  }

  &__items {
    display: flex;
    justify-content: space-between;
    margin: 0 -1rem;
    position: relative;
    &::after {
      content:'';
      position: absolute;
      width: 142rem;
      height: 2.3rem;
      top: 29%;
      left: -32%;
      background-image: url(../images/leading/layer-2.png);
      z-index: -1;
    }
  }

  &__item {
    max-width: 36rem;
    margin: 0 1rem;
  }
  &__item-img {
    max-width: 36rem;
    width: 100%;
    min-height: 28.6rem;
    margin-bottom: 3rem;
  }
  &__item-title {
    @include ge;
    margin-bottom: 2rem;
  }

  &__item-text {
    font-size: 1.4rem;
    letter-spacing: 0.07rem;
    @include gl;
  }
}
//=====================leading end
//=====================price start
.price {
  margin-bottom: 16.5rem;

  &__inner {
    max-width: 74.5rem;
    margin: 0 0 0 auto;
    position: relative;
    &::before{
      position: absolute;
      content: '';
      width: 76.3rem;
      height: 107.8rem;
      background-image: url(../images/price/layer.png);
      right: 105%;
      top: -6.5rem;
    }
  }

  &__title {
    font-size: 4.5rem;
    position: relative;
    padding: 7.4rem 6.1rem 3.5rem 0;
    margin-bottom: 5rem;
    &::before{
      content: '?';
      @include ge;
      font-size: 30rem;
      line-height: 24rem;
      text-transform: uppercase;
      opacity: 0.09;
      position: absolute;
      right: 1.5rem;
      top: 0;
    }
  }

  &__subtitle {
    line-height: 2.8rem;
    margin-bottom: 4.5rem;
    span{
      color: $red;
      font-size: 4.5rem;
      letter-spacing: 0.225rem;
      display: block;
      margin-bottom: 2rem;
    }
  }

  &__items {
    column-count: 2;
    
  }

  &__item {
    line-height: 2.8rem;
    max-width: 35.3rem;
    margin-bottom: 4rem;
  }

  &__item-title {
    @include ge;
  }

}
//=====================price end
//=====================stages start
.stages {
  position: relative;
  margin-bottom: 25rem;
  &::before{
    content: "";
    background-color: #f8f8f8;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -45%);
    width: 204.6rem;
    height: 203.5rem;
    z-index: -2;
  }
  
  &__inner {
    position: relative;
    &:after{
      position: absolute;
      content: "";
      bottom: -45rem;
      left: 65%;
      width: 63.5rem;
      height: 64.7rem;
      background-image: url(../images/icon/stages-layer.png);
      z-index: -1;
    }
  }
  &__title {
    position: relative;
    padding-bottom: 3.5rem;
    margin-bottom: 4.5rem;
    text-transform: uppercase;
    max-width: 36rem;
  }

  &_item {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    align-items: center;
    margin-bottom: 7.5rem;
    &:nth-child(2){
      flex-direction: row;
    }
    &:nth-child(3){
      flex-direction: row-reverse;
    }
    &:nth-child(4){
      flex-direction: row;
    }
    
  }

  &_item-img {
    max-width: 55.5rem;
    width: 100%;
    min-height: 33.3rem;
    position: relative;
  }
.item-1{
  position: relative;
  &::before{
    position: absolute;
    content: "";
    top: 3.4rem;
    right: -3.6rem;
    width: 6.6rem;
    height: 3.4rem;
    background-image: url(../images/icon/waves.png);
  }

}
  &_item-wrapper {
    position: relative;
    &::before{
      position: absolute;
      content: "просто";
      opacity: 0.6;
      color: #e9e9e9;
      @include ge;
      font-size: 12.2rem;
      line-height: 12.2rem;
      letter-spacing: 0.61rem;
      z-index: -1;
      top: -8.4rem;
      left: 17.2rem;
    }

  }

  &_item-title {
    @include ge;
    line-height: 2.8rem;
    position: relative;
    padding-left: 3rem;
    &::before{
      content: "";
      position: absolute;
      width: 1.3rem;
      height: 1rem;
      top: 0.8rem;
      left: 0;
      background-image: url(../images/icon/arrow.png);
    }
  }

  &_item-text {
    line-height: 2.8rem;
    max-width: 48rem;
    padding-left: 3rem;
  }
}

.stages_item-img.item-2::before{
  top: -5.3rem;
  left: 7.3rem;
}

.stages_item-img.item-3{
  &::before{
    content:none;
  }
}

.stages_item:nth-child(2){
  .stages_item-wrapper::before{
    content: "общение";
    left: -13.8rem;
  }
}

.stages_item:nth-child(3){
  .stages_item-wrapper::before{
    content: "практика";
    left: -0.5rem;
  }
}

.stages_item-img.item-3{
  margin-top: 0;
}

.stages_item:nth-child(4){
  .stages_item-wrapper::before{
    content: "повтор";
    left: -10.5rem;
  }
}
.stages_item:nth-child(4){
  .stages_item-img{
    position: relative;
    &::before{
      right: -4.2rem;
      top: -4.2rem;
    }
  }
}

//=====================stages end
//=====================review start
.review {
  padding-top: 7rem;
  margin-bottom: 23rem;
  &__title {
    padding-bottom: 4.2rem;
    margin-bottom: 7.5rem;
    position: relative;
  }
}

.slider {

  &__inner {
    display: flex;
    justify-content: flex-start; 
  }

  &__item-img {
    max-width: 16.5rem;
    height: 16.5rem;
    width: 100%;
  }
  &__item-wrapper{
    line-height: 2.8rem;
    margin-left: 6.5rem;
  }
  &__item-title {
    @include ge;
    margin-bottom: 3.5rem;
  }

  &__item-text {
    max-width: 71.2rem;
    margin-bottom: 3.2rem;
  }

  &__item-link {
    color: $red;
    border-bottom: 2px solid rgba(245, 17, 44, 0.5);
    margin-bottom: 7.5rem;
  }
}

.slick-list {
  overflow: hidden;
}
/* Лента слайдов */
.slick-track{
  display: flex;
}
/* Точки (булиты) */
.slick-dots{
  display: flex;
  width: 100%;
  font-size: 0;
}
.slick-dots li{
  width: 100%;
  background-color: #e9e9e9;
  height: 0.7rem;
  &:first-child{
    border-radius: 0.35rem 0 0  0.35rem;
  }
  &:last-child{
    border-radius: 0 0.35rem 0.35rem 0;
  }
}
/* Активная точка */
.slick-dots li.slick-active{
  box-shadow: 0 4px 10px rgba(245, 17, 44, 0.58);
  border-radius: 4px;
  background-color: $red;
}
/* Элемент точки */
.slick-dots li button{
  border: none;
  padding: 0;
}

//=====================review end
//=====================lesson start
.lesson {
  padding-bottom: 5.4rem;
  margin-bottom: 14rem;
  &__inner {
    display: flex;
    position: relative;
    justify-content: flex-end;
    &::before{
      content: "";
      position: absolute;
      max-width: 89rem;
      width: 100%;
      min-height: 59.6rem;
      background-image: url(../images/lesson/bg.png);
      right: 50%;
      top: 0;
    }
    &::after{
      content: '';
      position: absolute;
      width: 25.1rem;
      height: 21.8rem;
      top: -10rem;
      right: -8.9rem;
      background-image: url(../images/lesson/4-layers.png);
    }
  }

  &__wrapper {
    margin: 15rem 8rem 0 0;
  }

  &__title {
    padding-bottom: 4.2rem;
    margin-bottom: 2.7rem;
    position: relative;
    max-width: 45rem;
    text-transform: uppercase;
  }

  &__text {
    max-width: 43rem;
    margin-bottom: 9.9rem;
  }
}
.lesson__button{
  margin-bottom: 0;
}

//=====================lesson end
//=====================footer start
.footer {
  background-color: #f8f8f8;
  padding: 8rem 0 9rem 0;
  &__inner {
    display: flex;
    justify-content: space-between;
  }

  &__column-logo {
    width: 9.9rem;
    height: 3.6rem;
    margin-bottom: 2rem;
  }

  &__column-name {
    color: $text;
    @include gl;
    font-size: 1.8rem;
    line-height: 2.4rem;
    letter-spacing: 0.09rem;
  }

  &__column-social {
    margin-bottom: 2.2rem;
    ul {
      text-align: right;
    }
    li {
      display: inline-block;
      margin-left: 2.2rem;
    }
  }
}

.social {

  &_vk {
    width: 4rem;
    height: 2.3rem;
    background-image: url(../images/icon/vk.png);
  }
  &_inst {
    width: 2.8rem;
    height: 2.8rem;
    background-image: url(../images/icon/insta.png);
  }
  &_youtube {
    width: 2.7rem;
    height: 3.3rem;
    background-image: url(../images/icon/yt.png);
  }
  &_ok{
    width: 1.9rem;
    height: 3.3rem;
    background-image: url(../images/icon/ok.png);
  }
}
.footer__adress{
  display: none;
}

//=====================footer end
//=====================form start
.form {
  max-width: 83.5rem;
  width: 100%;
  padding: 12.5rem 14rem 12.5rem 14rem;
  position: relative;
  display: none;
  &__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    color: #000000;
    @include ge;
    font-size: 3.4rem;
    text-transform: uppercase;
    letter-spacing: 0.17rem;
    margin-bottom: 2.6rem;
  }

  &__text {
    margin-bottom: 2.2rem;
    text-align: center;
  }

  &__input {
    margin-bottom: 1.5rem;
    padding: 2.2rem 3rem 2.2rem 3rem;
    border-radius: 35px;
    border: 1px solid #bababa;
    max-width: 37rem;
    width: 100%;
    outline: none;
    &::placeholder {
      opacity: 0.34;
    }
  }

  &__button {
    border: none;
    width: 37rem;
    margin-bottom: 0;
  }
}

//=====================form end








@import 'media';